<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_Gestion_Etudiants.Properties.Settings.Gestion_EtudiantConnectionString"
            connectionString="Data Source=DESKTOP-11MQR6U\SQLEXPRESS;Initial Catalog=Gestion_Etudiant;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WPF_Gestion_Etudiants.Properties.Settings.Gestion_EtudiantConnectionString1"
            connectionString="Data Source=DESKTOP-7Q1OPP5\SQLEXPRESS;Initial Catalog=Gestion_Etudiant;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>